body {
  margin: 0;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background:black;
}

#contenedor {
  background:white;
  padding: 40px;
  width: 80%;
  border-radius: 20px;
  box-shadow: white;
  text-align: center;
}

h2 {
  color:black;
  font-size: 28px;
  margin: 40px 0 20px 0;;
  padding-bottom: 10px;
}
.bowl {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 20px auto;
}

@media (max-width: 550px) {
  .futbol {
    width: 325px;
    height: 250px;
  }
 .Mundial {
    width: 270px;
    height: 270px;
  }
.historia {
    width: 310px;
    height: 250px;
  }
  .formato {
    width: 310px;
    height: 320px;
  }
}